<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Team</title>
</head>
<body>
    <h1>Create a New Team</h1>
    <form action='/teams/create' method=POST>
        Team Name: <input type="text" name="name"><br><br>
        <input type="submit" value="Create Team">
    </form>
</body>
</html>