<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams Homepage</title>
</head>
<body>
    <h1>Current Teams</h1>
    <%for (let i=0; i<teams.length; i++){%>
        <li><a href='/teams/<%=teams[i].id%>'><%=teams[i].name%></a></li>    
    <%}%>
    <br><br>
    <a href="/teams/create">Create a New Team!</a>
</body>
</html>