video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
body{
    color: brown;
    font-family: 'Baloo Tammudu 2', cursive;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.wrapper{
    background-color: lemonchiffon;
    display: inline-block;
    border: solid white 5px;
    bo

}